@font-face {
  font-family: "Segoe UI";
  src: url(../fonts/Segoe\ UI.woff); }
@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  src: url(../fonts/Segoe\ UI\ Italic.woff); }
@font-face {
  font-family: "SegMDL2";
  src: url(../fonts/SegMDL2.woff); }
@keyframes fadeIn {
  0% {
    display: block;
    opacity: 0; }
  1% {
    opacity: 0; }
  100% {
    opacity: 1; } }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Segoe UI, Arial, sans-serif; }

input[type="checkbox"] {
  display: none; }

div.container-top {
  position: static;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  div.container-top * {
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  div.container-top > div.cookies {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f2f2f2;
    padding: 0 2%;
    overflow: hidden; }
    div.container-top > div.cookies > div.cookie-txt {
      display: flex;
      align-items: center;
      max-width: calc(52% + 36px);
      padding: 12px 0;
      font-size: 13px;
      color: #000;
      column-gap: 12px; }
      div.container-top > div.cookies > div.cookie-txt > img {
        width: 24px;
        height: 24px; }
      div.container-top > div.cookies > div.cookie-txt > p > a {
        text-decoration: underline;
        color: #0067b8; }
    div.container-top > div.cookies > div.cookieBtn {
      display: flex;
      align-items: center;
      gap: 8px; }
      div.container-top > div.cookies > div.cookieBtn > * {
        width: 150px;
        height: 36px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        border: none;
        background-color: #ebebeb;
        color: #000;
        cursor: pointer; }
        div.container-top > div.cookies > div.cookieBtn > *:hover {
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          background-color: #dbdbdb; }
    div.container-top > div.cookies > div.managacookies-container {
      z-index: 1000;
      display: none;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      width: 640px;
      height: max-content;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 36px 36px 36px 48px;
      border: 1px solid #0067b8;
      background-color: #fff;
      box-shadow: 0 0 0 10000px rgba(255, 255, 255, 0.65); }
      div.container-top > div.cookies > div.managacookies-container > label {
        position: absolute;
        right: 12px;
        top: 12px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        transform: translateY(50%); }
        div.container-top > div.cookies > div.managacookies-container > label::before {
          content: "";
          right: 0;
          left: 0;
          width: 100%;
          transform: rotate(45deg);
          height: 1px;
          background: #5f5f5f;
          position: absolute; }
        div.container-top > div.cookies > div.managacookies-container > label::after {
          content: "";
          right: 0;
          left: 0;
          width: 100%;
          transform: rotate(-45deg);
          height: 1px;
          background: #5f5f5f;
          position: absolute; }
      div.container-top > div.cookies > div.managacookies-container > h1 {
        font-size: 20px;
        color: #000;
        margin-bottom: 12px; }
      div.container-top > div.cookies > div.managacookies-container > form {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-grow: 1; }
        div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt {
          height: 460px;
          margin: 12px 0;
          width: 100%;
          overflow: auto; }
          div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt {
            font-size: 15px;
            color: #000;
            margin-bottom: 32px; }
            div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > h2 {
              font-size: 18px; }
            div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > p {
              margin-bottom: 12px; }
              div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > p > a {
                font-size: 15px;
                text-decoration: none;
                color: #000; }
            div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > div.mc-btn {
              display: flex;
              align-items: center;
              column-gap: 1rem;
              cursor: pointer; }
              div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > div.mc-btn input#mc-input1:checked + label.mc-btn-container label.mc-btn-radio > label {
                background: #000; }
              div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > div.mc-btn input#mc-input2:checked + label.mc-btn-container label.mc-btn-radio > label {
                background: #000; }
              div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > div.mc-btn input#mc-input3:checked + label.mc-btn-container label.mc-btn-radio > label {
                background: #000; }
              div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > div.mc-btn input#mc-input4:checked + label.mc-btn-container label.mc-btn-radio > label {
                background: #000; }
              div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > div.mc-btn input#mc-input5:checked + label.mc-btn-container label.mc-btn-radio > label {
                background: #000; }
              div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > div.mc-btn input#mc-input6:checked + label.mc-btn-container label.mc-btn-radio > label {
                background: #000; }
              div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > div.mc-btn > input {
                width: 0;
                height: 0;
                overflow: hidden; }
              div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > div.mc-btn > label.mc-btn-container {
                display: flex;
                align-items: center;
                column-gap: 8px;
                cursor: pointer; }
                div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > div.mc-btn > label.mc-btn-container > label.mc-btn-radio {
                  width: 16px;
                  height: 16px;
                  border: 1px solid #000;
                  border-radius: 50%;
                  padding: 2px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer; }
                  div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > div.mc-btn > label.mc-btn-container > label.mc-btn-radio > label {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    cursor: pointer; }
                div.container-top > div.cookies > div.managacookies-container > form div.mc-form-txt > div.mc-txt > div.mc-btn > label.mc-btn-container > label.mc-btn-txt {
                  cursor: pointer; }
        div.container-top > div.cookies > div.managacookies-container > form > div.button-container {
          display: flex;
          justify-content: space-between;
          width: 100%; }
          div.container-top > div.cookies > div.managacookies-container > form > div.button-container > button {
            width: calc(50% - 5px);
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            border: none;
            cursor: pointer; }
            div.container-top > div.cookies > div.managacookies-container > form > div.button-container > button[type="submit"] {
              background: #0067b8;
              color: #fff; }
            div.container-top > div.cookies > div.managacookies-container > form > div.button-container > button[type="reset"] {
              background: #ebebeb;
              color: #000; }
            div.container-top > div.cookies > div.managacookies-container > form > div.button-container > button:hover {
              box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }
  div.container-top > div.bing {
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%; }
    div.container-top > div.bing > div.bing-txt {
      display: grid;
      grid-template-columns: 48px 1fr;
      grid-template-rows: repeat(2, auto);
      column-gap: 12px; }
      div.container-top > div.bing > div.bing-txt > img {
        grid-column: 1;
        grid-row: 1/-1;
        width: 100%;
        height: 100%;
        object-fit: contain; }
      div.container-top > div.bing > div.bing-txt > span.bing-heading {
        font-size: 18px;
        grid-column: 2;
        grid-row: 1;
        font-weight: 600; }
      div.container-top > div.bing > div.bing-txt > span.bing-body {
        font-size: 13px;
        grid-column: 2;
        grid-row: 2; }
    div.container-top > div.bing > div.bingBtn {
      display: flex;
      align-items: center;
      column-gap: 12px; }
      div.container-top > div.bing > div.bingBtn > label {
        width: 120px;
        display: flex;
        justify-content: center;
        text-decoration: underline;
        color: #444;
        font-size: 14px;
        cursor: pointer; }
      div.container-top > div.bing > div.bingBtn > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        background-color: #0078d4;
        color: #fff;
        text-decoration: none;
        height: 34px;
        font-size: 15px; }
        div.container-top > div.bing > div.bingBtn > a:hover {
          text-decoration: underline; }
  div.container-top input#cookies:checked ~ div.cookies {
    height: 0; }
  div.container-top input#cookies:checked ~ div.bing {
    height: auto;
    padding: 12px 5%;
    box-shadow: 1px 1px 10px #5f5f5f; }
  div.container-top input#bingAd:checked ~ div.bing {
    height: 0;
    padding: 0 5%;
    box-shadow: unset; }
  div.container-top input#manageCookie:checked ~ div.managacookies-container {
    display: flex; }

div.menu-top {
  width: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  height: max-content; }
  div.menu-top > nav {
    width: 100%;
    display: flex;
    align-items: center;
    height: inherit; }
    div.menu-top > nav > div.menu {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: inherit; }
      div.menu-top > nav > div.menu > input#search:checked ~ ul.menu-left {
        margin-right: 50px; }
        div.menu-top > nav > div.menu > input#search:checked ~ ul.menu-left > li {
          display: none; }
      div.menu-top > nav > div.menu > input#search:checked ~ div.menu-right {
        flex-grow: 1; }
        div.menu-top > nav > div.menu > input#search:checked ~ div.menu-right > * {
          display: none; }
        div.menu-top > nav > div.menu > input#search:checked ~ div.menu-right > div:nth-child(2) {
          display: flex !important;
          padding: 0;
          width: 95%;
          height: 100%; }
          div.menu-top > nav > div.menu > input#search:checked ~ div.menu-right > div:nth-child(2) > * {
            display: none; }
          div.menu-top > nav > div.menu > input#search:checked ~ div.menu-right > div:nth-child(2) > div.search-container {
            display: flex !important; }
      div.menu-top > nav > div.menu > ul.menu-left {
        display: flex;
        align-items: center;
        list-style: none; }
        div.menu-top > nav > div.menu > ul.menu-left > a {
          height: 22px;
          box-sizing: content-box;
          padding: 16px 8px; }
          div.menu-top > nav > div.menu > ul.menu-left > a > img {
            height: 100%;
            object-fit: contain; }
        div.menu-top > nav > div.menu > ul.menu-left > li {
          height: 100%;
          position: relative; }
          div.menu-top > nav > div.menu > ul.menu-left > li > a {
            font-size: 13px;
            color: #000;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 16px 8px 10px 8px;
            width: 100%; }
            div.menu-top > nav > div.menu > ul.menu-left > li > a > p {
              padding: 2px 0;
              border-bottom: 2px solid transparent; }
            div.menu-top > nav > div.menu > ul.menu-left > li > a:hover > p {
              border-bottom: 2px solid #000; }
      div.menu-top > nav > div.menu > div.menu-right {
        display: flex;
        align-items: center;
        font-size: 13px;
        position: relative; }
        div.menu-top > nav > div.menu > div.menu-right > div {
          padding: 16px 8px 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%; }
          div.menu-top > nav > div.menu > div.menu-right > div > * > p {
            padding: 2px 0;
            border-bottom: 2px solid transparent; }
          div.menu-top > nav > div.menu > div.menu-right > div > *:hover > p {
            border-bottom: 2px solid #000; }
          div.menu-top > nav > div.menu > div.menu-right > div > label {
            color: #000;
            cursor: pointer;
            display: flex;
            align-items: center;
            column-gap: 6px; }
          div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) {
            position: relative;
            padding: 0; }
            div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > input:checked ~ label {
              background: #f2f2f2;
              border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.05) #f2f2f2; }
              div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > input:checked ~ label:hover > p {
                border-bottom: 2px solid transparent; }
            div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > input:checked ~ div.megamenu-container {
              display: block;
              animation: fadeIn 0.25s; }
            div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > label {
              border-style: solid;
              border-width: 1px 1px 2px;
              border-color: transparent;
              z-index: 701;
              padding: 16px 8px 10px;
              height: 100%; }
            div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > label::after {
              z-index: 700;
              content: "\E972";
              font-family: "SegMDL2";
              padding-top: 7px;
              font-size: 8px;
              color: #000; }
            div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > div.megamenu-container {
              display: none;
              opacity: 1; }
              div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > div.megamenu-container > label {
                z-index: 699;
                width: 100%;
                height: 100vh;
                background: transparent;
                position: fixed;
                left: 0;
                top: 0; }
              div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > div.megamenu-container > div.megamenu {
                border-style: solid;
                border-width: 1px 1px 2px;
                border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.05) #000;
                z-index: 700;
                position: absolute;
                top: calc(100% - 1px);
                right: -200%;
                width: 1230px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                height: max-content;
                background: #f2f2f2; }
                div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > div.megamenu-container > div.megamenu > ul {
                  list-style: none;
                  display: flex;
                  flex-wrap: wrap;
                  height: max-content; }
                  div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > div.megamenu-container > div.megamenu > ul > li {
                    width: 200px; }
                    div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > div.megamenu-container > div.megamenu > ul > li > ul {
                      display: flex;
                      flex-direction: column;
                      font-size: 13px;
                      list-style: none;
                      width: 100%; }
                      div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > div.megamenu-container > div.megamenu > ul > li > ul > span {
                        color: #000;
                        padding: 12px 0 12px 24px;
                        font-weight: 600; }
                      div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > div.megamenu-container > div.megamenu > ul > li > ul > li {
                        width: 100%; }
                        div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > div.megamenu-container > div.megamenu > ul > li > ul > li > a {
                          padding: 12px 0 12px 24px;
                          text-decoration: none;
                          color: #262626;
                          width: 100%;
                          display: block; }
                        div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > div.megamenu-container > div.megamenu > ul > li > ul > li:hover > a {
                          text-decoration: underline; }
                div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > div.megamenu-container > div.megamenu > div.megeamenu-bottom {
                  width: 100%;
                  height: 36px;
                  font-size: 13px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #e6e6e6; }
                  div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > div.megamenu-container > div.megamenu > div.megeamenu-bottom > a {
                    display: flex;
                    padding: 12px 48px;
                    text-decoration: none;
                    color: #000;
                    column-gap: 6px;
                    align-items: center; }
                    div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > div.megamenu-container > div.megamenu > div.megeamenu-bottom > a::after {
                      content: "\E76C";
                      font-family: "SegMDL2";
                      font-size: 13px;
                      color: #000; }
                    div.menu-top > nav > div.menu > div.menu-right > div:nth-child(1) > div.megamenu-container > div.megamenu > div.megeamenu-bottom > a:hover > p {
                      text-decoration: underline; }
          div.menu-top > nav > div.menu > div.menu-right > div:nth-child(2) > label::after {
            content: "\E721";
            font-family: "SegMDL2";
            font-size: 16px;
            margin-left: 2px;
            color: #000; }
          div.menu-top > nav > div.menu > div.menu-right > div:nth-child(2) div.search-container {
            display: none;
            width: 100%;
            column-gap: 5px;
            display: none;
            align-items: center;
            padding-top: 12px;
            height: 100%; }
            div.menu-top > nav > div.menu > div.menu-right > div:nth-child(2) div.search-container > form {
              flex-grow: 1;
              height: 100%;
              max-height: 36px;
              position: relative; }
              div.menu-top > nav > div.menu > div.menu-right > div:nth-child(2) div.search-container > form > input[type="text"] {
                width: 100%;
                height: 100%;
                padding: 7px 38px 7px 10px;
                border: 1px solid rgba(0, 0, 0, 0.7);
                font-size: 13px;
                background: #fff; }
                div.menu-top > nav > div.menu > div.menu-right > div:nth-child(2) div.search-container > form > input[type="text"]:focus {
                  outline: none;
                  border: 2px solid #0067b8; }
              div.menu-top > nav > div.menu > div.menu-right > div:nth-child(2) div.search-container > form > button {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                background: none;
                border: unset; }
                div.menu-top > nav > div.menu > div.menu-right > div:nth-child(2) div.search-container > form > button > span {
                  width: max-content;
                  color: #333;
                  font-size: 12px;
                  border: 1px solid #ccc;
                  box-shadow: 2px 2px 2px #777;
                  background: #fff;
                  z-index: 9999999;
                  padding: 2px;
                  position: absolute;
                  top: 100%;
                  right: 0;
                  transform: translateX(50%);
                  display: none; }
                div.menu-top > nav > div.menu > div.menu-right > div:nth-child(2) div.search-container > form > button:hover > span {
                  display: block; }
                div.menu-top > nav > div.menu > div.menu-right > div:nth-child(2) div.search-container > form > button::after {
                  content: "\E721";
                  font-family: "SegMDL2";
                  font-size: 16px;
                  margin-left: 2px;
                  color: #000; }
            div.menu-top > nav > div.menu > div.menu-right > div:nth-child(2) div.search-container > label {
              display: flex;
              align-items: center;
              height: 36px;
              padding: 6px 12px;
              font-size: 13px;
              color: #000;
              border: 1px solid rgba(0, 0, 0, 0.7);
              background: #fff;
              cursor: pointer; }
          div.menu-top > nav > div.menu > div.menu-right > div > a {
            text-decoration: none;
            color: #000;
            display: flex;
            align-items: center;
            column-gap: 6px; }
            div.menu-top > nav > div.menu > div.menu-right > div > a:nth-of-type(1)::after {
              content: "\e7bf";
              font-family: "SegMDL2";
              font-size: 16px;
              color: #000; }
          div.menu-top > nav > div.menu > div.menu-right > div > * > span {
            color: #333;
            font-size: 12px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 2px #777;
            background: #fff;
            z-index: 9999999;
            padding: 2px;
            position: fixed;
            margin-top: 44px;
            transform: translateX(-50%);
            display: none; }
          div.menu-top > nav > div.menu > div.menu-right > div > *:hover > span {
            display: block; }
        div.menu-top > nav > div.menu > div.menu-right > a {
          height: 100%;
          padding: 16px 8px 10px;
          text-decoration: none;
          color: #000;
          display: flex;
          align-items: center;
          column-gap: 8px; }
          div.menu-top > nav > div.menu > div.menu-right > a > img {
            width: 32px;
            height: 32px;
            object-fit: contain; }

/*# sourceMappingURL=main.css.map */
