@font-face {
  font-family: "Segoe UI";
  src: url(../fonts/Segoe\ UI.woff);
}
@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  src: url(../fonts/Segoe\ UI\ Italic.woff);
}
@font-face {
  font-family: "SegMDL2";
  src: url(../fonts/SegMDL2.woff);
}

@keyframes fadeIn {
  0% {
    display: auto;
    flex-direction: column-reverse;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
$text-color-dark: #000;
$text-color-light: #fff;
$text-color: #444;
$text-color-1: #333;
$text-color-2: #262626;
$link-bg: #0078d4;
$link: #0067b8;
$dark: #000;
$light: #fff;
$header-bg: #f2f2f2;
$header-menu-bg: #e6e6e6;
$header-btn-bg: #ebebeb;
$header-btn-bg-hover: #dbdbdb;
$font-light: 200;
$font-semilight: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$box-shadow-color: #5f5f5f;
$box-shadow-color-1: rgba(0, 0, 0, 0.25);
$cookiebg: rgba(255, 255, 255, 0.65);
$main-font: "Segoe UI";
$icon-font: "SegMDL2";
$popup-box-shadow: #777;
$popup-border: #ccc;
$menu-border: rgba(0, 0, 0, 0.05);
$search-border: rgba(0, 0, 0, 0.7);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Segoe UI, Arial, sans-serif;
}

input[type="checkbox"] {
  display: none;
}

// shopping cart: "E7BF"
// search icon "E721"
//chevrondown "E70D"
//chevrondown small"E96E"
//chevrondown medium "E972"
